{%extends "layout1.html" %}
{% block content %}
	<div class="border-top pt-3">
		<small class="text-muted"><b><font color="#696969">
			View Customerr</font><a class="ml-2" href="{{url_for('viewcustomer')}}">View Customer</a></b>
		</small>

	</div>
	<div class="border-top pt-3">
		<small class="text-muted"><b><font color="#696969">
			View Vendor</font><a class="ml-2" href="{{url_for('viewvendor')}}">View Vendor</a></b>
		</small>

	</div>
	<div class="border-top pt-3">
		<small class="text-muted"><b><font color="#696969">
			View Service</font><a class="ml-2" href="{{url_for('viewservice')}}">View Service</a></b>
		</small>

	</div>
	<div class="border-top pt-3">
		<small class="text-muted"><b><font color="#696969">
			View Diwali Product</font><a class="ml-2" href="{{url_for('diwaliproduct')}}">View Diwali Product</a></b>
		</small>

	</div>
	<div class="border-top pt-3">
		<small class="text-muted"><b><font color="#696969">
			View Holi Product</font><a class="ml-2" href="{{url_for('holiproduct')}}">View Holi Product</a></b>
		</small>

	</div>
	<div class="border-top pt-3">
		<small class="text-muted"><b><font color="#696969">
			View Uttrayan Product</font><a class="ml-2" href="{{url_for('uttrayanproduct')}}">View Uttrayan Product</a></b>
		</small>

	</div>
	<div class="border-top pt-3">
		<small class="text-muted"><b><font color="#696969">
			View Rakshabandhan Product</font><a class="ml-2" href="{{url_for('rakshabandhanproduct')}}">View Rakshabandhan Product</a></b>
		</small>

	</div>
	<div class="border-top pt-3">
		<small class="text-muted"><b><font color="#696969">
			View GaneshChaturthi Product</font><a class="ml-2" href="{{url_for('ganeshchaturthiproduct')}}">View GaneshChaturthi Product</a></b>
		</small>

	</div>
	<div class="border-top pt-3">
		<small class="text-muted"><b><font color="#696969">
			View Janmashtmi Product</font><a class="ml-2" href="{{url_for('janmashtmiproduct')}}">View Janmashtmi Product</a></b>
		</small>

	</div>
	<div class="border-top pt-3">
		<small class="text-muted"><b><font color="#696969">
			View Navratri Product</font><a class="ml-2" href="{{url_for('navratriproduct')}}">View Navratri Product</a></b>
		</small>

	</div>
	<div class="border-top pt-3">
		<small class="text-muted"><b><font color="#696969">
			View NewYear Product</font><a class="ml-2" href="{{url_for('newyearproduct')}}">View NewYear Product</a></b>
		</small>

	</div>
	<div class="border-top pt-3">
		<small class="text-muted"><b><font color="#696969">
			View Christmas Product</font><a class="ml-2" href="{{url_for('christmasproduct')}}">View Christmas Product</a></b>
		</small>

	</div>


{% endblock content %}