{% block body %}
<div class="align-center">
    <form action="{{ url_for('ganeshchaturthiproduct') }}" method="POST">
        <table class="table" border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Category</th>
                    <th>Price</th>
					<th>Company Name</th>
                    <th>Quantity</th>
					<th>Details</th>
                </tr>
            </thead>
            <tbody>
            {% for gc in products %}
               <tr>
                  <td>{{ gc.id }}</td>
                  <td>{{ gc.name }}</td>
                  <td>{{ gc.types }}</td>
                  <td>{{ gc.category }}</td>
                  <td>{{ gc.price }}</td>
                  <td>{{ gc.companyname }}</td>
                  <td>{{ gc.quantity }}</td>
                  <td>{{ gc.detail }}</td>
               </tr>
            {% endfor %}
         </tbody>
            <tfoot>
                <tr>
                    <td colspan="6"></td>
                </tr>
            </tfoot>
        </table>
    </form>
</div>
{% endblock %}
